.encabezado {
    position: relative;

}

.encabezado-oscuro {
    position: relative;
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center center;
}

.capa-oscura {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); /* Ajusta el nivel de opacidad según tus preferencias */
}

.encabezado-oscuro h2, .encabezado-oscuro h4 {
    padding: 15px;
    position: relative;
    z-index: 1; /* Asegura que el texto esté encima de la capa oscura */
    color: white;
}
